*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Share style */

.font-inter,body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.container{
  max-width:1360px;
  width: 85%;
  margin: 0 auto;
}
.btn{
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 12.5px 16px;
  border-radius:4px;
  background: #469165;
  cursor: pointer;
  border: none;
  transition: 0.3s;

  
}
.btn2{
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 12.5px 16px;
  border-radius:4px;
  background: transparent;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.3s;

  
}
.btn:hover,
.btn2:hover{
  background: #1e6b70;

}


header nav{
padding: 16px 0px;
display: flex;
justify-content: space-between;
align-items: center;
  
}
header nav .logo a img{
  max-width: 139px;


}
header nav ul{
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}
header nav ul li a{
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500px;

}
.banner-section{
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 116px 0 180px;
  text-align: center;
}
.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.gea{
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 50px;
  background: #fff;
  padding: 8px 12px;


}
.gea p{
  font-size: 16px;
  color: #30B868;
  font-weight: 500;

}
.banner-content h1{
  font-size: 72px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
.banner-content h1 span{
  color: #30B868;
  display: block;
}
.banner-content .banner-para{
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 16px;
}
.btn-container{
  display: flex;
  gap: 16px;

}
.notes-section{
  background: #fbfbfb;
  padding: 60px 0 120px;
  text-align: center;
}
.notes-section .notes-title h2{
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  color: #001931;
  margin-bottom: 16px;
}

.notes-section .notes-title p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 44px;
}
.notes-card {
  display: flex;
  justify-content: space-between;
}
.notes-card .card{
  max-width: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 8px;
  padding: 69.5px 24px;
  box-shadow: 0 0 8px 0 rgba(0, 0,0,0.06) ;
}

.notes-card .card .img-box{
  background: #f95555;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notes-card .card h3{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  text-transform: capitalize;
}
.notes-card .card p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}