*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Share style */

.font-inter,body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.container{
  max-width:1360px;
  width: 85%;
  margin: 0 auto;
}
.btn{
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 12.5px 16px;
  border-radius:4px;
  background: #469165;
  cursor: pointer;
  border: none;
  transition: 0.3s;

  
}
.btn:hover{
  background: #1e6b70;

}
header nav{
padding: 24px 0px;
display: flex;
justify-content: space-between;
align-items: center;
  
}
header nav .logo a img{
  max-width: 139px;


}
header nav ul{
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}
header nav ul li a{
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500px;

}